# When building the example, Bowspr.ccs is copied into the example directory.
# Don't include it in the git repo to avoid it becoming out of date.
example/Bowspr.ccs
example/summary.txt
example/build/
